# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
!data/raw/.gitkeep

# OS
.DS_Store
Thumbs.db

AntiDeepfake_backup.bundle

# Generated and logs
*.log
response.json
codebase_context.md

# Frontend Dependencies & Builds
**/node_modules/
**/dist/
